.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
:root {
  --main-title-color: color: #2E2F42;
  --secondary-title-color: color: #434455;


}
body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
}
/*==== Header ==== */

.color-logo {
  color: #4d5ae5;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  color: var(--main-title-color) ;
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.menu-link:hover,
.menu-link :focus {
  color: #4d5ae5;
}
.adress-list {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
}
.adress-list:hover,
.adress-list:focus {
  color: #4d5ae5;
}

/*==== Section 1 ====*/

.section-hero {
  background: #2E2F42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
}
.modal-btn:hover {
  background: #404bbf;
}
.buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #4d5ae5;
  background: #f4f4fd;
  cursor: pointer;
}
.buttons:hover,
.buttons:focus {
  background: #4d5ae5;
  color: #ffffff;
}
/*==== Section 2 ====*/

.caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-title-color);
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-title-color);
}

/*==== Section 3 ====*/
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--main-title-color);
}

/*==== Section 4 ====*/
.section-team {
  background: #f4f4fd;
}
.menu-item {
  background: #ffffff;
}
/*==== Footer ====*/

.footer {
  background: #2E2F42;
}
.logo-footer {
  font-family: 'Raleway', sans-serif;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  color: #4d5ae5;
}
.color-logo-footer {
  color: #f4f4fd;
}

.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #e7e9fc;
}
